@import "../../main";

.accordion__section {

  &.active .accordion__content {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

.accordion__content {
  display: none;
  overflow: hidden;
}

.accordion__section-head {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f1f1f1;
  border: 0;
  border-bottom: 2px solid $grey-dark;
  border-radius: 3px;
  color: $main;
  letter-spacing: 0.5px;
  margin: 0.5rem;
  cursor: pointer;
  user-select: none;
  transition: border-color 0.7s;

  > span {
    flex: 1;
  }
}
